* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

#bg {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, #009688 0px, #009688 17vh, #DCDBD2 17vh, #D2DBDC 100vh);
  display: flex;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

#container {
  width: 80vw;
  height: 95vh;
  background-color: #EAEAEA;
  margin: auto;
}

#contacts-container{
  width: 35%;
  height: 100%;
  float: left;
  border-right: 1px solid #B1B1B1;
}

#chat-container {
  width: calc(100% - 35%);
  height: 100%;
  float: right;
  background-image:url("../img/bool.png");
  background-size: contain;
}

#chat-top {
  height: 60px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#chat-top-avatar {
  display: flex;
  align-items: center;
}


#chat-main {
  width: 100%;
  height: calc(100% - 120px);
  overflow-y: scroll;
  border-right: 15px solid #F3EEEa;
}

#chat-bottom {
  height: 60px;
  background-color: #F3EEEA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

#chat-bottom input {
  width: 80%;
  height: 35px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
}

#contact-top {
  width: 100%;
  height: 60px;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#user-profile-box{
  display: flex;
  align-items: center;
}



#notifications {
  width: 100%;
  background-color: #8EDAFD;
  height: 70px;
  display: flex;
  align-items: center;
}

#contacts-container input {
  width: 100%;
  height: 35px;
  padding: 10px;
  border: 8px solid #FAFAFA;
}

img {
  height: 45px;
  margin-right: 15px;
}

#notifications span {
  display: inline-block;
  text-decoration: underline;
  color: #789193;
}

#contact-top li,
#chat-top li {
  display: inline-block;
  color: #B1B1B1;
  list-style-type: none;
  padding-right: 10px;
  font-size: 24px;
}

#contacts-list li {
  list-style-type: none;
}


#chat-bottom i {
    color: #6C7376;
    font-size: 24px;
}
