* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

#bg {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #DCDBD2 15vh, #D2DBDC 100vh);
  display: flex;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

#container {
  width: 80vw;
  height: 95vh;
  background-color: #EAEAEA;
  margin: auto;
}

#contacts-container{
  width: 35%;
  height: 100%;
  float: left;
  border-right: 1px solid #B1B1B1;
  background-color: white;
}

#chat-container {
  width: calc(100% - 35%);
  height: 100%;
  float: right;
  background-image:url("../img/bool.png");
  background-size: contain;
}

#chat-top {
  height: 60px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#chat-top-avatar {
  display: flex;
  align-items: center;
}

#chat-main {
  width: 100%;
  height: calc(100% - 120px);
  overflow-y: scroll;
  border-right: 15px solid #F3EEEa;
  display: flex;
  flex-direction: column;
}

#chat-main .newMsg span,
#chat-main .message div {
  width: 280px;
  list-style-type: none;
  margin: 30px 45px 5px 45px;
  padding: 15px 40px 15px 15px;
  border-radius: 5px;
  background-color: #D5F9BA;
  position: relative;
  box-shadow: -1px 1px rgba(0.5, 0.5, 0.5, 0.1);
}

#chat-bottom {
  height: 60px;
  background-color: #F3EEEA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

#chat-bottom form {
  width: 80%;
}

#chat-bottom input {
  width: 100%;
  height: 35px;
  border: 1px solid white;
  border-radius: 4px;
  padding-left: 8px;
}

#contact-top {
  width: 100%;
  height: 60px;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#user-profile-box{
  display: flex;
  align-items: center;
}

#notifications {
  width: 100%;
  background-color: #8EDAFD;
  height: 70px;
  display: flex;
  align-items: center;
}

#contacts-container input {
  width: 100%;
  height: 35px;
  padding: 10px;
  border: 8px solid #FAFAFA;
}

img {
  height: 45px;
  margin-right: 15px;
}

#notifications a {
  color: #789193;
}

#contact-top li,
#chat-top li {
  display: inline-block;
  color: #B1B1B1;
  list-style-type: none;
  padding-right: 10px;
  font-size: 20px;
}

#contacts-list li {
  list-style-type: none;
  padding: 10px;
  cursor:pointer;
}

#contacts-list time,
#contacts-list small {
  color: #789193;
}

#contacts-list-flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#contacts-list ul {
  width: 100%;
}

#chat-bottom i {
  color: #6C7376;
  font-size: 24px;
}

#name-avatar {
  display: flex;
}

.activeUser {
  background-color: lightgrey;
}

.sent {
  float: right;
}

.message .received {
  float:left;
}

.newMsg span {
  float: right;
  word-break: break-all;
}

#chat-main .message > .received {
  background-color: white;
}

#chat-main .message > .sent {
  background-color: #D5F9BA;
}

.newMsg span::after,
#chat-main .message > .sent::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #D5F9BA;
	border-bottom: 0;
	margin-left: 80px;
	margin-bottom: -10px;
  filter: drop-shadow(1px 1px rgba(0.5, 0.5, 0.5, 0.1));
}

#chat-main .message > .received:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color:white;
	border-top: 0;
	margin-left: -100px;
	margin-top: -10px;
  filter: drop-shadow(-1px -1px rgba(0.5, 0.5, 0.5, 0.1));
}

time {
font-size: 10px;
}

#chat-main .newMsg time,
#chat-main .message time {
  position: absolute;
  left: 180px;
  font-size: 10px;
  display: block;
}
