<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Boolzapp</title>
  </head>
  <body>
    <div id="bg">
      <div id="container"class="clearfix">
        <!-- lista contatti -->
        <div id="contacts-container">
          <div id="contact-top">
            <div id="user-profile-box">
              <img src="img/avatar1.png" alt=""><h4>Nicole</h4>
            </div>
            <ul>
              <li>
                <i class="fas fa-circle-notch"></i>
              </li>
              <li>
                <i class="fas fa-comment-alt"></i>
              </li>
              <li>
                <i class="fas fa-ellipsis-v"></i>
              </li>
            </ul>
          </div>
          <div id="notifications">
            <img src="img/notify-icon.png" alt="">
            <div>
              <p>Ricevi notifiche di nuovi messaggi</p>
              <a href="#">Attiva notifiche desktop</a>
            </div>
          </div>
          <input v-model = "search" type="text" placeholder="	&#128269;
          Cerca o inizia una nuova chat">
          <div id="contacts-list">
            <ul>
              <!-- selezione user attivo -->
              <li v-for="(contact, index) in filteredContacts"
              @click="SetActiveUser(index)"
              v-bind:class="(activeUser == index) ? 'activeUser' : 'null'">
                <div id="contacts-list-flex">
                  <div id="name-avatar">
                    <img v-bind:src="filteredContacts.avatar" alt="">
                    <div>
                    <h4>{{ contact.name }}</h4>
                    <small>{{ contact.text }}</small>
                  </div>
                  </div>
                  <time>{{ contact.lastDate }}</time>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- /lista contatti -->

        <!-- chat container -->
        <div id="chat-container">
          <div id="chat-top">
            <div id="chat-top-avatar" >
                <img :src=" filteredContacts[activeUser].avatar">
              <div>
              <h4>{{ filteredContacts[activeUser].name }}</h4>
              <small>Ultimo accesso <time>{{ filteredContacts[activeUser].lastDate }}</time></small>
              </div>
            </div>
            <ul>
              <li><i class="fas fa-search"></i></li>
              <li><i class="fas fa-paperclip"></i></li>
              <li><i class="fas fa-ellipsis-v"></i></li>
            </ul>
          </div>
          <div id="chat-main" class="clearfix">
            <!-- visualizzazione messaggi inviati e ricevuti-->
            <div class="message" v-for="message in filteredContacts[activeUser].messages">
              <div :class="(message.status == 'sent') ? 'sent' : 'received'">
                <p>{{ message.text }}</p>
                <time>{{ message.date }}</time>
                <span v-on:click="show = !show" > <i class="fas fa-angle-down"></i>
                </span>
                  <transition name="fade">
                    <span v-if="show"class="dropdown">
                      <small>info messaggio</small>
                      <small v-on:click="remove">cancella messaggio</small>
                    </span>
                  </transition>
              </div>
            </div>
          </div>
          <div id="chat-bottom">
            <i class="far fa-smile"></i>
            <!-- invio messaggio all'enter -->
            <!-- <form @submit.prevent="SendMessage"> -->
              <input type="text"
              v-model ="newMessage"
              placeholder="Scrivi un messaggio"
              @keydown.enter="SendMessage">
            <!-- </form> -->
            <i class="fas fa-microphone"></i>
          </div>
        </div>
        <!-- chat container -->
      </div>
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
